// SASS File for Forms
/////////////////////////////////////

//1-Settings
////////////////////////////////////

$basic-background: #ffffff;
$basic-fontstyle: #464a4c;

$btn-primary: #0275d8;


.form-control{
    display: block;
    width: 100%;
    padding: .5rem .75rem;
    font-size: 1rem;
    line-height: 1.25;
    color: $basic-fontstyle;
    background-color: $basic-background;
    background-image: none;
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    border: 1px solid rgba(0,0,0,.15);
    border-radius: .25rem;
    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s,-webkit-box-shadow ease-in-out .15
}

.form-check{
    position: relative; 
    display: block;
    margin: 1rem 1rem 2rem;
    font-size: 1rem;
    line-height: 1.25;
    color: $basic-fontstyle;
    height:0;
    overflow:hidden;
    transition: height linear .2s;

    &.active{
        transition: height linear .2s;
        height:160px;
    }

    &__label{
        display:inline-block;
        padding: rem(5px) rem(10px) rem(5px) rem(15px);
        margin-right:rem(10px);
        margin-bottom: rem(5px);
        border: 1px solid rgba(0, 0, 0, 0.15);
        border-radius: rem(2.5px);
        font-family: Helvetica;
        font-size:rem(8px);
        font-weight: bold;
        font-style: italic;
        cursor: pointer;

    }
    &__input{
        position: absolute;
        margin-top: .25rem;
        margin-left: -1.25rem; 
    }
}

.btn{
    display: inline-block;
    font-weight: 400;
    line-height: 1.25;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .5rem 1rem;
    font-size: 1rem;
    border-radius: .25rem;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;

    &--primary{
        color: $basic-background;
        background-color: $btn-primary;
        border-color: $btn-primary;
    }
}