<div class="container-fluid">
    <h2>{{title}}</h2>
    <div *ngFor="let item of items">
        <div class="row">
            <div class="col-sm-1"><span>ID: </span></div>
            <div class="col-sm-1"><span>{{item.id}}</span></div>
            <div class="col-sm-1"><span>NAME: </span></div>
            <div class="col-sm-1"><span>{{item.name}}</span></div>
            <div class="col-sm-1"><span>HAIR COLOR: </span></div>
            <div class="col-sm-1"><span>{{item.hair_color}}</span></div>
            <div class="col-sm-1"><span>HEIGHT: </span></div>
            <div class="col-sm-1"><span>{{item.height}}</span></div>
            <div class="col-sm-1"><span>WEIGHT: </span></div>
            <div class="col-sm-1"><span>{{item.weight}}</span></div>
            <div class="col-sm-1"><span>PROFESSIONS: </span></div>
            <div class="col-sm-1"><span>{{item.professions.length}}</span></div>
        </div>
    </div>
</div>